body, html {
    background-image:url("../images/momo.jpg");
    background-image:url("../images/cdumpl.jpg");
    background-image:url("../images/dumpling.jpeg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    /*margin: 0;*/

    /* Full height */
    height: 100%;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-right:0px;
    margin-left: 0px;
}



.bg {
    /* The image used */
    /*background-image:*/
    /*url("https://upload.wikimedia.org/wikipedia/commons/1/1d/Crabcakes_and_salad,_Tate_Modern.jpg");*/


    /*background-image:url("../images/momo.jpg");*/
    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/*.tx {*/
/*    text-align:center;*/
/*    !*position: absolute;*!*/
/*    !*top: 50%;*!*/
/*    !*left: 50%;*!*/
/*    transform: translate(-50%, -50%);*/
/*    color: #fefefe;*/
/*    text-shadow: 1px 1px 2px #0a0a0a;*/
/*}*/

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fefefe;
    text-shadow: 1px 1px 2px #0a0a0a;
}


