<!DOCTYPE html>
<html lang="en" xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>My Recipe</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Recipe</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" href="#">Features</a>
            <a class="nav-item nav-link" href="#">Pricing</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
</nav>


<h1>Momo Recipe</h1>
<h2>Ingredients</h2>

<div class="card" style="width: 18rem;">
    <img alt="Delicious MoMo" class="card-img-top" src="momo.jpg">
    <div class="card-body">
        <h5 class="card-title">Ingredients</h5>

    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item">4 cups all-purpose flour</li>
        <li class="list-group-item">2 1/2 pounds ground chicken thighs</li>
        <li class="list-group-item">1 cup chopped fresh cilantro</li>
        <li class="list-group-item">1 cup chopped onions</li>
        <li class="list-group-item">4 tablespoons minced garlic</li>
        <li class="list-group-item">4 tablespoons minced peeled ginger</li>
        <li class="list-group-item">2 tablespoons ground cumin</li>
        <li class="list-group-item">1 teaspoon ground cinnamon</li>
        <li class="list-group-item">Salt and black pepper</li>
    </ul>
<!--<ul>-->
<!--    <li>4 cups all-purpose flour</li>-->
<!--    <li>2 1/2 pounds ground chicken thighs</li>-->
<!--    <li>1 cup chopped fresh cilantro</li>-->
<!--    <li>1 cup chopped onions</li>-->
<!--    <li>4 tablespoons minced garlic</li>-->
<!--    <li>4 tablespoons minced peeled ginger</li>-->
<!--    <li>2 tablespoons ground cumin</li>-->
<!--    <li>1 teaspoon ground cinnamon</li>-->
<!--    <li>Salt and black pepper</li>-->
<!--</ul>-->


</div>


<!--<div class="list-group">-->

<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">4 cups all-purpose flour</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">2 1/2 pounds ground chicken thighs</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-success">1 cup chopped fresh cilantro</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-danger">1 cup chopped onions</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-warning">4 tablespoons minced garlic</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-info">4 tablespoons minced peeled ginger</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-light">2 tablespoons ground cumin</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-dark">1 teaspoon ground cinnamon</a>-->
<!--    <a href="#" class="list-group-item list-group-item-action list-group-item-primary">Salt and black pepper</a>-->
<!--</div>-->

<p>
<h2><b>Directions:</b></h2>

<ol >

    <li> Mix together the flour and 1 1/2 cups room temperature water in a bowl.</li>
    <li>  Knead the dough well until it is medium-firm and flexible. </li>
    <li>Cover and let rest for 1 hour.</li>
    <li>Meanwhile, mix together the chicken, cilantro, onions, garlic, ginger, cumin, cinnamon, 2 tablespoons salt and
        1/2 teaspoon pepper in a bowl.</li>
    <li><b>To make the wrappers:</b> Break off 1/2 ounce of dough and forming it into a ball.</li>
    <li>Place the ball on a flat surface and roll it into a 4-inch round with a rolling pin.</li>
    <li>Repeat with the remaining dough.</li>
    <li>Spray a steamer pan with cooking spray.</li>
    <li>Place a tablespoon of the chicken filling in the middle of a wrapper.</li>
    <li>Holding the wrapper in your left hand.</li>
    <li>Use your right thumb and index finger to start pinching the edges of the wrapper together.</li>
    <li>Pinch and fold until the edges of the circle close up like a little satchel.</li>
    <li>Place the momo in the prepared steamer pan.</li>
    <li>Repeat with remaining wrappers and filling.</li>
    <li>Fill the steamer pot halfway with water and bring to a boil.</li>
    <li>Set the steamer pan with the momos on top of the pot and cover with a tight lid.</li>
    <li>Steam the momos until cooked, 8 to 9 minutes.</li>


</ol>


</p>



<p>

Serve at once with salsa, or tomato sauce on the side.

</p>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>